.Hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  position: relative;
}

.Hero-title {
  color: #d5b67a;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.Hero-button-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.Hero-button {
  background-color: #2e2e2e;
  border: 2px solid #d5b67a;
  color: #d5b67a;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.Hero-button:hover {
  background-color: #3e3e3e;
  scale: 105%;
}

.Hero-button.active {
  background-color: #d5b67a;
  color: #1e1e1e;
  font-weight: bold;
}

.Hero-all-sections {
  width: 100%;
}

.Hero-sub-title {
  font-size: 2.5rem;
  color: #d5b67a;
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.Hero-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  padding: 1rem;
}

.Hero-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  padding: 5px;
  border: 2px solid #d5b67a;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Hero-list-item img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .Hero-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .Hero-button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .Hero-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .Hero-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
