.Resume {
  background-color: #f0f2f5;
  padding: 10px;
  height: auto;
}

.resume-container {
  background: #fff;
  border-radius: 12px;
  color: #000;
}

.resume-container header {
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.resume-container header h1 {
  margin: 5px 0;
  color: #000;
}

.resume-container section {
  margin-bottom: 10px;
}

.resume-container section h2 {
  margin-bottom: 0.5rem;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.2rem;
}

.resume-container section ul {
  padding-left: 1.5rem;
  li a {
    text-decoration: none;
  }
}
